# App
DEBUG=false

# Storage
MAX_UPLOAD_SIZE_MB=50

# OCR engine
OCR_LANG=en
OCR_DET_MODEL=PP-OCRv5_mobile_det
OCR_REC_MODEL=PP-OCRv5_mobile_rec
OCR_DEVICE=cpu
OCR_ENABLE_MKLDNN=false
OCR_CPU_THREADS=4
OCR_USE_DOC_ORIENTATION_CLASSIFY=true
OCR_USE_DOC_UNWARPING=false
OCR_USE_TEXTLINE_ORIENTATION=true
